<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to 'Startup Weekend', root_path, class: "navbar-brand" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="<%= 'active' if current_page?(root_path) %>"><a href="<%= root_path %>"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="<%= 'active' if current_page?(contact_path) %>"><a href="<%= contact_path %>"><i class="fa fa-envelope"></i> Contact</a>
                    </li>
                    <li class="<%= 'active' if current_page?(about_path) %>"><a href="<%= about_path %>"><i class="fa fa-user"></i> About</a>
                    </li>
                    <form class="navbar-form navbar-right">
                      <input type="text" class="form-control col-lg-8" placeholder="Search...">
                    </form>  
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>